@import 'config.css';

button {
  border-radius: 5px;
  width: 150px;
  padding: 5px 10px 5px 10px;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 25px;
  color: var(--dark-theme);
  position: relative;
  left: -40%;
}

.login-buttons {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.login-button {
  border: 2px solid var(--strong-accent);
  color: var(--strong-accent);
  background: none;
  margin-top: 200px;
  margin-bottom: 200px;
}

.login-button:hover {
  box-shadow: 0 1px 2px 0 var(--accent), 0 2px 6px 0 var(--accent);
}
