@import 'config.css';

button {
  margin: 10px;
  background-color: var(--theme);
  border: none;
  color: white;
}

button:hover {
  box-shadow: none;
}

/* welcome.js */
.welcome-content {
  position: absolute;
  top: 80%;
  left: 50%;
  color: white;
}

.to-dash {
  text-decoration: underline;
  font-weight: 100;
  opacity: 0.8;
}

.to-dash {
  cursor: pointer;
}

/* user.js */
.user-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.user-interface {
  display: flex;
  /* border: 2px solid red; */
  flex-grow: 1;
  height: 100vh;
}

.background-img {
  height: 100vh;
  z-index: -1;
  /* height: 250px; */
  /* display: none; */
}

.background-img > img {
  width: 100%;
  object-fit: cover;
  height: inherit;
  /* object-position: 50% -500px; */
}

.navbar {
  color: white;
  flex: 0.75;
  background-color: var(--theme);
}

.navItem {
  padding: 20px;
  display: inline-block;
  width: 100%;
}

.navItem:hover {
  cursor: pointer;
}

.routes {
  flex: 3;
  padding: 50px;
}

.active-page {
  background-color: var(--accent);
}

#logo:hover {
  cursor: default;
}
