@import 'config.css';

.user-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.user-interface {
  display: flex;
  /* border: 2px solid red; */
  flex-grow: 1;
}

.background-img {
  /* height: 100vh; */
  height: 250px;
  /* display: none; */
}

.background-img > img {
  width: 100%;
  object-fit: cover;
  height: inherit;
  object-position: 50% -500px;
}

.navbar {
  color: white;
  flex: 0.75;
  background-color: var(--theme);
}

.navItem {
  padding: 30px 30px 30px 30px;
  display: inline-block;
  width: 100%;
}

.navItem:hover {
  cursor: pointer;
}

.routes {
  padding: 100px;
  flex: 3;
}

.active-page {
  background-color: var(--accent);
}
